
			*{ margin:0; padding:0;}
			.menu {width:800px ;
			 height:40px;
			 background:DarkSlateBlue;
			 margin:0 auto;
			 border-bottom:3px solid LemonChiffon ; }
				
			.menu ul li {float:left;list-style-type:none;}
		    .menu ul li a {color:LemonChiffon ;font:20px Arial;
					text-decoration:none;display:block;padding:14px 15px}
			.menu ul li a:hover{
					background:LemonChiffon ;
					color:DarkSlateBlue;
				}
			
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
	background: url("blurroad.jpg");
	background-repeat:no-repeat;
}
.footer{background-color:lemonchiffon; padding:10px;
}

a:link{color:darkslateblue;text-decoration:none;}
a:visited{color:blue;text-decoration:none;}
a:hover{color:red;text-decoration:none;}
